@{ 
    ViewData["Title"] = "Checkout";
}
<h1>Checkout</h1>
<ul class="list-group">
    <li class="list-group-item">
        <h4>This is a mock up checkout page</h4>
    </li>
    <li class="list-group-item">
        Here would be some payment service.
    </li>
</ul>